{
    "compact": false,
    "ast": false,
    "presets": [
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-es2015-destructuring",
        "transform-es2015-block-scoped-functions",
        "transform-es2015-block-scoping"
    ]
}
